@model GoodSamaritan.Models.Smart.Smart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Smart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccompanimentMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccompanimentMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTransportProvided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTransportProvided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferToNurse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferToNurse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SmartId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
